<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name"></li>
        <li class="toggle-topbar menu-icon"><a href="">Menu</a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            {{!-- <li>{{#link-to 'index'}}<span><i class="step fi-home size-12"></i></span>{{/link-to}}</li> --}}
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        </ul>
    </section>
</nav>