<div class="small-8 columns">
<br>
<h3>Click links to exercise paypal's sandbox.</h3>
<br>
<br>
<ul>
<h4><li>{{#link-to 'payment'}}Create Payment{{/link-to}}<br></h4>
<h4><li>{{#link-to 'sale' '51P59144AK5723702'}}Find Sale 51P59144AK5723702{{/link-to}}</h4>
</ul>
</div>