<div class="small-8 columns">
<br>
<h3>Click links to exercise paypal's sandbox.</h3>
<br>
    <table>
        <tbody>
        <tr>
            <td width="50%" valign="top">
                <div class="panel">
                    <h5>Payment</h5>
                    <p>
                        <h4><li>{{#link-to 'payment'}}Create Payment{{/link-to}}<br></h4>
                        <h4><li>{{#link-to 'payments'}}Payments{{/link-to}}</h4>
                    </p>
                </div>
            </td>
            <td width="50%" valign="top">
                <div class="panel">
                    <h5>Sales</h5>
                    <p>
                        <h4><li>{{#link-to 'lookupSale'}}Look up a sale{{/link-to}}</h4>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div class="panel">
                    <h5>Refunds</h5>
                    <p>
                        <h4><li>{{#link-to 'lookupRefund'}}Look up a refund{{/link-to}}</h4>
                    </p>
                </div>
            </td>
            <td valign="top">
                <div class="panel">
                    <h5>Authorizations</h5>
                    <p>
                        <h4><li>{{#link-to 'authorization'}}Authorize payment{{/link-to}}</h4>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div class="panel">
                    <h5>Captures</h5>
                    <p></p>
                </div>
            </td>
            <td valign="top">
                <div class="panel">
                    <h5>Billing plans and Agreements</h5>
                    <p>
                        <h4><li>{{#link-to 'plan'}}Create Plan{{/link-to}}</h4>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div class="panel">
                    <h5>Orders</h5>
                    <p>
                        <h4><li>{{#link-to 'order'}}Create Order{{/link-to}}</h4>
                        <h4><li>{{#link-to 'orders'}}View Orders and Approve{{/link-to}}</h4>
                    </p>
                </div>
            </td>
            <td valign="top">
                <div class="panel">
                    <h5>Vaults</h5>
                    <p>
                        <h4><li>{{#link-to 'creditCard'}}Save Credit Card with Paypal{{/link-to}}</h4>
                        <h4><li>{{#link-to 'creditCards'}}View cards registered with Paypal{{/link-to}}</h4>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div class="panel">
                    <h5>Identity</h5>
                    <p></p>
                </div>
            </td>
            <td valign="top">
                <div class="panel">
                    <h5>Invoicing</h5>
                    <p></p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>